@import url('https://fonts.googleapis.com/css?family=Poiret+One&display=swap');
body {
	background-color: #D8DAD0;
	font-family: 'Poiret One', cursive;
}

h1 {
	font-family: 'Poiret One', cursive;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

p {
	font size: 18px;
	font-style: italic;
	text-align: center;

}

hr{
	width: 600 px;
}

img {
	display:block;
	margin-left:auto;
	margin-right:auto;
}

div {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
    list-style-position: inside;
}

a{
	margin-left: 50%;
}

