@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Montserrat&display=swap');

body {
	background-color: #D8DAD0;
}

h1 {
	font-family: 'Alfa Slab One', cursive;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

p {
	font-family: 'Montserrat', sans-serif;
	font size: 18px;
	font-style: italic;
	text-align: center;

}

h2 {
		font-family: 'Alfa Slab One', cursive;

}

ul {
		font-family: 'Montserrat', sans-serif;
}
hr{
	width: 600 px;
}

img {
	display:block;
	margin-left:auto;
	margin-right:auto;
}

div {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
    list-style-position: inside;
}

a{
	margin-left: 50%;
}

