body {
	background-color: #D8DAD0;
	font-family: Helvetica;
}

h1 {
	font-family: Helvetica;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

p {
	font size: 18px;
	font-style: italic;
	text-align: center;

}

hr{
	width: 600 px;
}

img {
	display:block;
	margin-left:auto;
	margin-right:auto;
}

div {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: auto;
	margin-left: 50%;
}

