body {
	background-color: #D8DAD0;
	font-family: Helvetica;
}

h1 {
	font-family: Helvetica;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

p {
	font size: 18px;
	font-style: italic;
	text-align: center;

}

hr{
	width: 600 px;
}

img {
	display:block;
	margin-left:auto;
	margin-right:auto;
}

h2 {
	font-size: 43px;
	color: #535D50;

}

ul {
	font-size: 30px;
	font-style: normal;
	text-align: left;
}

a  {
	text-align: center;
}


